---
layout: base
---
{%for post in paginator.posts %}
<article>
	<header>
		<a href="{{post.url}}"><h1>{{post.title}}</h1></a>
	</header>
	<section>
		{{ post.content  }}
	</section>
	{% if post.categories %}
	<section class="categories">
	<span class="category-heading">Posted in: </span>
		<ul>
			{% for cat in post.categories %}
				<li><a href="/{{cat}}">{{cat}}</a></li>
			{% endfor %}
		</ul>
	</section>
	{% endif %}
</article>
{%endfor%}
<!-- Pagination links -->
<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{paginator.previous_page}}" class="previous active">Newer Posts</a>
  {% else %}
    <span class="previous inactive">Newer Posts</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next active">Older posts</a>
  {% else %}
    <span class="next inactive">Older Posts</span>
  {% endif %}
</nav>